* {
    box-sizing: border-box;
}

/* Create three columns of equal width */

.cabecera {
    position: fixed;
    top: 0;
}


.container2{
  
    padding:60px 0 0 5px ;
    
}
.primary{
    float: cover;
    width: 33.3%;
    padding: 8px;
    width: 100%;

 }

.col-derecha {
    text-align: right;
}

 .row{font-size: 14px;
    text-align: left;

}

.dropdown-trigger {
   
    background: burlywood;
}

.primary .btn-primary{
    width: 100%;
    height: 70px;
    font-size: 45px;
  
  }

  .operator{
      padding: 15px 0 0 0;
      text-align: center;
  }

.comenta{
padding: 15px;
}



/* Change the width of the three columns to 100% 
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
