* {
    box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
    float: cover;
    width: 33.3%;
    padding: 8px;
    width: 100%;
}






.container{
    float: cover;
    width: 33.3%;
    padding: 8px ;
    width: 100%;

}

.container2{
  
    padding:110px 8px 8px 40px ;
    

}
/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
    background-color: rgb(37, 32, 32);
    color: white;
    font-size: 25px;
}
.price .header2 {
    background-color: rgb(43, 41, 179);
    color: white;
    font-size: 25px;
}
.price .header3 {
    background-color: #d0181e;
    color: white;
    font-size: 25px;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

/* Grey list item */
.price .grey {
    background-color: #eee;
    font-size: 40px;
}
.price .blue {
    background-color: rgb(70, 80, 218);
    font-size: 40px;
}

.price .orange{
    background-color: #e65100;
    font-size: 40px;
}

/* The "Sign Up" button */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 27px;
    border-radius: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
 .btn-large  {
    width: 100%;
    bottom: 75px;
    position: fixed;
    margin: 0px -10px;
  }
  .primary{
    float: cover;
    width: 33.3%;
    padding: 8px;
    width: 100%;

 }

 .row{font-size: 20px;

        
}


.dropdown-trigger {
   
    background: burlywood;
}


.primary .btn-primary{
    width: 100%;
    height: 70px;
    font-size: 55px;

}



/* Change the width of the three columns to 100% 
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
